[
  {
    "clerkId": "user_35ry5tk8DQyrzrrj5WKTkM1oMCv",
    "email": "bob.wilson@example.com",
    "name": "Bob Wilson"
  },
  {
    "clerkId": "user_35ry1Nx9bFWCwIXdYg5I5SIc4QA",
    "email": "alice.brown@example.com",
    "name": "Alice Brown"
  },
  {
    "clerkId": "user_35rxYoNFmMu70gWDwDVh7gILtf0",
    "email": "macthanhbinhtn@gmail.com",
    "name": "Bình Mạc"
  }
]

